.info {
    font-style: italic;
}

.App {
    padding: 0 20px;
}

.Translate > header {
    text-align: right;
}

.Reviews ul {
    border: 1px solid gray;
    border-radius: 3px;
    list-style: none;
    padding: 0;
}
.Reviews ul li {
    padding: 10px 20px;
}
.Reviews ul li + li {
    border-top: 1px solid gray;
}

.Review header p {
    color: #666;
}
.Review .suggestion {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 20px;
}
.Review .suggestion .diff p {
    margin: 0;
    padding: 10px;
}
.Review .suggestion .diff .original {
    background-color: #f1f8ff;
    color: rgba(27,31,35,0.5);
}
.Review .suggestion .diff .approved {
    background-color: #ffeef0;
}
.Review .suggestion .diff .suggested {
    background-color: #e6ffed;
}
.Review footer {
    border: 1px solid #34d058;
    border-radius: 3px;
}
.Review footer h2 {
    margin: 0;
    padding: 10px 20px;
}
.Review footer .review-commands {
    padding: 0 20px 20px 20px;
}

.EntitiesList {
    list-style-type: none;
    padding: 0;
}
.EntitiesList li {
    border-left: .5em solid gray;
    margin-bottom: 1px;
}
.EntitiesList li.approved {
    border-color: green;
}
.EntitiesList li.suggested {
    border-color: blue;
}
.EntitiesList li p {
    padding: 0;
    margin: 0;
}
.EntitiesList li a {
    display: inline-block;
    color: black;
    padding-left: 1em;
    text-decoration: none;
    width: 100%;
}
.EntitiesList li p:first-of-type a {
    padding: 20px 0 0 .6em;
}
.EntitiesList li p:last-of-type a {
    padding: 10px 0 20px .6em;
}
.EntitiesList .translation {
    color: darkgray;
    font-size: 0.9rem;
    font-style: italic;
}

.Editor {
    height: 200px;
    width: 80%;
}

.ReviewForm .label {
    color: darkgray;
    font-style: italic;
}

.CommentsList {
    list-style: none;
    padding: 0;
    margin: 0;
}
.CommentsList li {
    border-top: 1px solid #ccc;
    padding: 0 20px;
    margin: 0;
}
.CommentsList li img {
}
.CommentsList li time {
    color: darkgray;
    font-style: italic;
}

.CommentForm {
    background-color: #eee;
    border-top: 1px solid #ccc;
}
.CommentForm > div {
    padding: 10px;
}
.CommentForm textarea {
    height: 100px;
    padding: 5px;
}
.CommentForm .controls {
    margin-top: 10px;
    text-align: right;
}

.avatar {
    border: 1px solid #ccc;
    border-radius: 3px;
    line-height: 1;
    margin-right: 10px;
    overflow: hidden;
    vertical-align: middle;
    width: 32px;
}
