.App > main > div {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 20px;
}
.App > nav {
    text-align: center;
}
.App > nav ul {
    list-style: none;
}
.App > nav ul li {
    display: inline;
}
.App > nav ul li a {
    font-weight: bold;
    padding: 20px;
    text-transform: uppercase;
}

.EntitiesList {
    list-style-type: none;
    padding: 0;
}
.EntitiesList li p {
    padding: 0;
    margin: 0;
}
.EntitiesList li a {
    display: inline-block;
    color: black;
    text-decoration: none;
    width: 100%;
}
.EntitiesList li p:first-of-type a {
    padding: 20px 0 0 0;
}
.EntitiesList li p:last-of-type a {
    padding: 10px 0 20px 0;
}
.EntitiesList .translation {
    color: darkgray;
    font-size: 0.9rem;
    font-style: italic;
}

.Editor {
    height: 200px;
    width: 80%;
}

.ReviewForm .label {
    color: darkgray;
    font-style: italic;
}

.CommentsList {
    list-style: none;
    padding: 0;
    width: 80%;
}
.CommentsList li {
    border: 1px solid darkgray;
    border-radius: 2px;
    padding: 0 20px;
    margin: 10px 0;
}
.CommentsList li img {
    max-width: 32px;
    margin-right: 10px;
}
.CommentsList li time {
    color: darkgray;
    font-style: italic;
}

.CommentForm textarea {
    height: 100px;
    width: 80%;
}
